@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/mission.css);
@import url(../blocks/why.css);
@import url(../blocks/donationcard.css);
@import url(../blocks/charities.css);
@import url(../blocks/donations.css);
@import url(../blocks/popup.css);
@import url(../blocks/footer.css);
@import url(../blocks/charitycard.css);
