.charities__form {
  display: flex;
}

.charities__container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.charity-card {
  flex-direction: row;
  list-style-type: none;
  text-align: center;
  background: #ffffff;
  border: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 85%);
  border-radius: 15px;
  overflow: hidden;
  margin: 2rem;
}

.charity-card__name {
  font-size: 25px;
  line-height: 1.2;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(0, 156, 156);
  text-align: center;
}

.charity-card__location {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.charitiy-card__url {
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 580px) {
  .charities__container {
    margin-top: 15px;
    padding: 15px;
  }
  .charity-card {
    margin: 0.5rem;
  }
}
