.donations {
  display: flex;
  justify-content: flex-start;
}
.donations__text {
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  position: relative;
}

.donate__button {
  display: flex;
  position: absolute;
  height: 25px;
  width: auto;
  left: 265px;
  align-self: end;
  background-color: #000;
  color: #fff;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 2px;
}
.donations__gallery {
}
.donation__popup {
}
.popup__container {
}
.popup__close-button {
}
.donation__form {
}
.popup__label {
}
.donation__form_input {
}
.donation__modal {
  position: relative;
  /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
  background-color: #fff;
  z-index: 1;
  align-items: center;
  justify-content: center;
  padding: 0;
  visibility: hidden;
  display: flex;
  opacity: 0;
}

.donation__popup_container {
  background-color: #fff;
  margin: auto;
  padding: 40px;
  width: 500px;
  height: 330px;
  border-radius: 10px;
}
.donation__form_heading {
  color: #000;
  max-width: 320px;
  max-height: 23px;
  font-size: 25px;
  font-weight: 700;
}
.donation__form {
  max-width: 430px;
  max-height: 530px;
  background-color: #aa2121;
}
.donation__form_input {
  border: none;
  height: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.donate__submit_button {
  color: #fff;
  background-color: black;
  width: 100%;
  height: 30px;
}

/* .donation__text {
  } */
.donation__popup_opened {
  visibility: visible;
}
