.donations {
  text-align: center;
}

.donations__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.donate__button {
  /* display: flex; */
  /* position: absolute; */
  height: 25px;
  width: auto;
  left: 265px;
  align-self: end;
  background-color: #000;
  color: #fff;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 2px;
}

.donations__gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
}
