.donation-card {
  background-color: #000;
  height: 430px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.donation-card__image {
  width: 90%;
  height: 70%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 10px;
}
.donation-card__description {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.donation-card__location {
  color: white;
  margin-top: 10px;
}
.donation-card__email {
  color: white;
  margin-top: 10px;
}
