.donation-card {
  background-color: #ffffff;
  height: 430px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 10px #94d2d7;
  border: 2px solid #609287;
  text-align: center;
}

.donation-card__image {
  width: 90%;
  height: 70%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 10px;
}
.donation-card__description {
  color: black;
  font-size: 20px;
  margin-top: 10px;
}
.donation-card__location {
  color: black;
  margin-top: 10px;
}
.donation-card__email {
  color: black;
  margin-top: 10px;
}
