@keyframes hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.footer__text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
}

.footer__link {
  margin: 0 0 5px;
  padding-left: 15px;
}

.footer__link_anchor {
  text-decoration: none;
  color: lightskyblue;
  text-shadow: 0.5px 0.5px 1px rgb(0, 14, 174);
}
