.donation__popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  visibility: hidden;
  display: flex;
  /* opacity: 0.8; */
}

.donation__popup_opened {
  visibility: visible;
}

.donation__popup-window {
  position: relative;
}

.donation-form {
  width: 600px;
  height: 400px;
  background-color: #fff;
  margin: 20px auto;
  text-align: center;
  position: relative;
  border-radius: 3%;
  
}

.popup__close-button {
  position: absolute;
  bottom: calc(100% + -5px);
  left: calc(100% + 10px);
  height: 50px;
  width: 50px;
  z-index: 9;
  cursor: pointer;
}

/* .donate__button {
  height: 25px;
  width: auto;
} */

/* .donation__popup_container {
  background-color: #fff;
  margin: auto;
  padding: 40px;
  width: 500px;
  height: 330px;
  border-radius: 10px;
} */

.donation-form__heading {
  color: #000;
  max-width: 320px;
  max-height: 23px;
  font-size: 25px;
  font-weight: 700;
  padding: 20px 20px;
  margin: 0;
}

.donation-form__input {
  border: none;
  height: 35px;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.donation-form__submit-button {
  color: #fff;
  background-color: black;
  width: 80%;
  height: 75px;
  margin: 20px 0;
  border: none;
}
