.why {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: turquoise;
  height: 300px;
}

.why_reason {
  background-color: tomato;
  height: 75px;
  width: 150px;
}
